<ul class="nav justify-content-center p-4 bg-primary">
  <li class="nav-item">
    <a class="nav-link text-light" href="#"><h3>Home</h3></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="about"><h3>About Develover</h3></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#"><h3>Contact Developer</h3></a>
  </li>
</ul>