<ul class="nav justify-content-center p-3 bg-primary">
  <li class="nav-item">
    <a class="nav-link text-light" href="/home"><h5>Home</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="/about"><h5>About</h5></a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#"><h5>Contact</h5></a>
  </li>
</ul>